@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Raleway&family=Source+Code+Pro:wght@800&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Inter';
    margin: 0;
    height: 100vh;
    background-color: #282D35;
}
.small-logo{
    height: 40px;
    margin-left: 27px;
}
.facts{
    font-style: normal;
    font-weight: 700;
    font-size: 22.2535px;
    line-height: 27px;
    letter-spacing: .01em;
    color: #61DAFB;
    margin-left: 8px;
}
.nav-bar{
    display: flex;
    align-items: center;
    height: 92px;
    background-color: #21222A;
}
.course{
    margin-left: auto;
    margin-right: 27px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .01em;
    line-height: 19px;
    text-align: right;
    color: #DEEBF8;
}
.fun{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 39.06px;
    line-height: 47px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    margin: 0;
    padding-top: 57px;
    padding-left: 27px;
}
.container{
    display: flex;
}
.largeLogo{
    margin-left: auto;
}
.list{
    padding-left: 74px;
    margin-top: 46px;
}
.list > li{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-block: 10px; /*p b specifies top/bottom */
    max-width: 400px;
} 
/* new css to manipulate markers*/
.list > li::marker{
    font-size: 1.5rem;
    color: #61DAFB;
}
  
  