@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/* font-family: 'Poppins', sans-serif; */
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: Poppins;
  /* background: lightgray; */
}
/* .back{
  display: flex;
  flex-direction: column;
} */
.nav{
  display: flex;
  align-items: center;
  width: 550px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
.gray {
  color: #918E9B;
}
.bold{
  font-weight: bold;
}
.airbnb{
  width: 82.02px;
  height: 25.35px;
}
.hero{
  /* background: #FFFFFF;
  width: 550px;
  margin-top: 1px; */
  display: flex;
  flex-direction: column;
  /* background-color: #FFFFFF;; */
}
.hero-group{
  
  width: 395.91px;
  height: 232px;
  margin-top: 26px;
  margin-left: 77px;
}
.hero-h{
  
  width: 347px;
  height: 40px;
  margin-left: 36px;
  /* font-family: 'Poppins'; */
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  /* identical to box height, or 40px */
  color: #000000;
  margin-bottom: 16px;
}
.hero-p{
  
  

  /* font-family: 'Poppins'; */
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */
  margin-top: 0px;
  margin-left: 36px;


  color: #222222;
}
.swim{
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /*ADD*/
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}
.swimmer{
  width: 100%;
}
.card{
  display: flex;
  align-items: center;
}
.star{
  height: 14px;
}
/* ADD */
.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ADD */
.card--price {
  margin-top: auto;
}
.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}